<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <include file="Common:head"/>
	<include file="Common:left"/>
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择分类:</th>
                            <td>
                                <select name="search-sort" id="">
                                    <option value="">全部</option>
                                    <option value="19">精品界面</option><option value="20">推荐界面</option>
                                </select>
                            </td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__MODULE__/Hot/add"><i class="icon-font"></i>新增作品</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>                          
                            <th>ID</th>
                            <th>标题</th>
							<th>作者</th>
                            <th>图片</th>
                            <th>操作</th>
                        </tr>
                   
				   <volist name="hots" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="58" type="checkbox"></td>
                            <td>{$vo.h_id}</td>
                            <td>{$vo.h_title}</td>
							<td>{$vo.h_author}</td>
                            <td>
							<if condition="$vo['h_pic'] neq null">
							<img src="__ROOT__{$vo.h_pic}" height="30">
							<else/>
							暂无图片
							</if>
							</td>
                            <td>
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.h_id}">修改</a>
                                <a class="link-del" href="__CONTROLLER__/del/id/{$vo.h_id}" onclick="return confirm('确定要删除 {$vo.h_title} 吗?');">删除</a>
                            </td>
                        </tr></volist>
                    </table>
                    <div class="list-page"><?php echo "$total 条 1/1 页 "?></div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>