<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta content="text/html" http-equiv="Content-Type" charset="UTF-8" />
    <title>生活百科 -寻觅,发现生活之美</title>

    <include file="Common:head" />

    <div id="remen" style="margin-top: -50px">
        <p>生活百科
            <hr />
        </p>
    </div>

    <section id="hothot" style="position: relative">
        <div class="container">
            <div class="row">
                <volist name="list" id="vo">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="panel-body">
                            <div class="p">
                                <div class="photo" style="height:235px;">
                                        <a href="__CONTROLLER__/content/id/{$vo.s_id}/#sh" target="_blank" class="a">
                                            <if condition="$vo['s_pic'] neq null">
                                                <img src="__ROOT__{$vo.s_pic}" height="235px" />    
                                            <else/>
                                            <img src="__ROOT__/Uploads/2019-08-23/暂无图片.jpg" height="235px" />
                                            </if>
                                            </a>
                                </div>
                                <div class="text">
                                    <div class="t">{$vo.s_title}</div>
                                    <div class="d">
                                        <div class="d1"><a class="glyphicon glyphicon-thumbs-up" style="text-decoration: none"
                                                id="like"></a><span>{$vo.s_zan}</span></div>
                                        <div class="d2"><i class="glyphicon glyphicon-star-empty" style="text-decoration: none"></i><span>{$vo.s_collection}</span></div>
                                    </div>
                                    <div class="author">
                                        <img width="24" height="24" src="__ROOT__{$vo.s_tou}">
                                        <p style="color: #444;">{$vo.s_author}<br><span>发布到 {$vo.s_fabu}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </volist>
                

            </div>
        </div>
    </section>
    </body>

</html>