<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作管理</a>
                    <ul class="sub-menu">
                        <li><a href="__MODULE__/Hot/lst"><i class="icon-font">&#xe005;</i>热门推荐栏</a></li>
                        <li><a href="__MODULE__/Festival/lst"><i class="icon-font">&#xe005;</i>节日习俗栏</a></li>
                        <li><a href="__MODULE__/Food/lst"><i class="icon-font">&#xe005;</i>家常菜谱栏</a></li>
                        <li><a href="__MODULE__/Trivial/lst"><i class="icon-font">&#xe005;</i>旅游出行栏</a></li>
                        <li><a href="__MODULE__/Sh/lst"><i class="icon-font">&#xe005;</i>生活百科栏</a></li>
                        <li><a href="__MODULE__/Poem/lst"><i class="icon-font">&#xe005;</i>诗词栏</a></li>    
						<li><a href="__MODULE__/Game/lst"><i class="icon-font">&#xe005;</i>娱乐栏</a></li> 						
                    </ul>
                     <a href="__MODULE__/Letter/lst"><i class="icon-font">&#xe004;</i>收件箱</a>
                     <a href="__MODULE__/Check/lst"><i class="icon-font">&#xe001;</i>作品审核</a>
                </li>
            </ul>
        </div>
    </div>